
$primary: #ba7538;
$secondary: #500707;
$success: #770a1c;
$body-bg: #770a1c;
$form-range-thumb-bg: #770a1c;
$form-range-track-bg: #651f1f;
$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
$border-radius: 0.875rem;
$border-width: 2px;
$input-border-width: 2px;
$btn-border-width: 2px;

@import "../../node_modules/bootstrap/scss/bootstrap";
