/* Reset ca sa anulez modificarile de la Bootstrap */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, button, input, select, textarea, a, img, div, section, article, header, footer, nav {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* font implicit fără Poppins */
    font-size: 1rem;
    color: black; 
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

body {
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

button {
    background: none;
    color: inherit;
    font: inherit;
    border: 1px solid black;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}


img {
    max-width: none;
    height: auto;
}

input {
    font: inherit;
    color: inherit;
    border: 1px solid black;
    background: white;
    padding: 0.3rem;
    border-radius: 0;
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}
