main {
    --padd-main: var(--padding-standard);
    padding-left: var(--padd-main);
    padding-right: var(--padd-main);
}
body{
    background-color: rgb(58, 6, 6);
}
.btn-compare {
    padding: 0.5rem 1rem;
    border: 2px solid #1d3557;
    background-color: transparent;
    color: #1d3557;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-compare:hover:not(:disabled) {
    background-color: #1d3557;
    color: white;
}

.btn-compare:disabled {
    cursor: not-allowed;
    position: relative;
    color: #1d3557;
    background-color: transparent;
    
}

.btn-compare[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    top: 1.8em;
    left: 200%;
    transform: translateX(-50%);
    border-radius: 4px;
    white-space: nowrap;
    font-size: 0.85em;
}

/* === GRILĂ PRODUSE === */
.grid-produse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: var(--spatiere-pagina-mici);
}

.grid-produse .produs {
    background-color: var(--culoare-fundal-element);
    border-radius: var(--border-radius-standard);
    box-shadow:0.05rem 0.05rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8); 
    overflow: hidden;
    padding-bottom: 1.5rem;
    border: 1px solid var(--culoare-border);
    position: relative;
}

.grid-produse .produs h3 {
    background-color: var(--culoare-fundal-principal);
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 0.5rem 0;
    font-size: 30px;
}

.grid-produse .produs h3 a {
    color: var(--culoare-deschisa);
    text-decoration: none;
    font-size: 25px;
}

.grid-produse .produs h3 a:hover {
    color: white;
}

.grid-produse .produs figure {
    text-align: center;
    margin: 1rem 0;
}

.grid-produse .produs figure img {
    width: 80%;
    height: auto;
}

.grid-produse .produs .info-prod {
    display: flex;
    justify-content: space-around;
    background-color: var(--culoare-footer2);
    padding: 0.5rem 0;
}

.grid-produse .produs .info-prod p {
    font-weight: bold;
    text-align: center;
    margin: 0;
    width: 33%;
    font-size: 20px;
}

.grid-produse .produs p.categorie {
    text-align: center;
    font-weight: bold;
    padding-top: 0.5rem;
}

/* === BUTON SELECTARE === */
.selecteaza-cos {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    background-color: var(--culoare-deschisa);
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-mic);
    font-weight: bold;
    border: 1px solid transparent;
}

.selecteaza-cos:hover {
    background-color: var(--culoare-footer2);
    border: 2px solid var(--culoare-fundal-principal);
}
  
#sortCrescNume, #sortDescrescNume, #filtrare,#resetare{
    background-color: var(--culoare-footer2);
    border: 3px solid var(--culoare-fundal-principal);
    color:black;
}
/* === INPUTURI & FILTRARE === */
main input[type="text"],
main input[type="range"],
main select {
    padding: 0.4rem;
    border-radius: var(--border-mic);
    border: 1px solid var(--culoare-border);
    margin-top: 0.3rem;
    font-size: 1rem;
    width: 60%;
}

main input[type="radio"] {
    margin-left: 0.5rem;
    transform: scale(1.2);
    accent-color: var(--culoare-fundal-principal);
}

main label,
main div > p,
main div > p label {
    display: block;
    font-size: 1.05rem;
    font-family: "Trebuchet MS", sans-serif;
    color: var(--culoare-fundal-principal);
    margin-top: 0.6rem;
}

#infoRange {
    font-weight: bold;
    margin-left: 0.5rem;
    color: var(--culoare-fundal-principal);
    font-size: 1rem;
}

/* === BUTOANE === */
main button {
    background-color: var(--culoare-deschisa);
    color: black;
    padding: 0.4rem 1rem;
    border-radius: var(--border-radius-standard);
    border: 2px solid var(--culoare-fundal-principal);
    font-weight: bold;
    margin: 0.4rem 0.6rem 0.4rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

main button:hover {
    background-color: var(--culoare-fundal-principal);
    color: white;
    border: 2px solid var(--culoare-deschisa);
}

  