.galerie-animata {
  width: 100%;
  margin: 50px auto;
  border: 30px solid;
  border-image: url("/resurse/imagini/diverse/border.jpg") 30 round;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  background-color: white;
}
.galerie-animata .slide {
  position: absolute;
  width: 400px;
  height: 400px;
  animation: glisare 6s infinite ease-in-out;
  opacity: 0;
  transform: scale(2);
  transition: all 0.5s ease;
}
.galerie-animata:hover .slide {
  animation-play-state: paused;
}

@keyframes glisare {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateX(100px) scale(0.9);
    opacity: 0.8;
  }
  50% {
    transform: translateX(-100px) scale(0.9);
    opacity: 0.6;
  }
  75% {
    transform: translateX(50px) scale(0.85);
    opacity: 0.4;
  }
  100% {
    transform: translateX(300px) scale(0.5);
    opacity: 0;
  }
}
@media (max-width: 1000px) {
  .galerie-animata {
    display: none;
  }
}