:root {
  --culoare-principala:#bda183;
  --culoare-submeniu: #4f391fb7;
  --culoare-hover: rgba(112, 56, 0, 0.5);
  --culoare-text: rgb(82, 6, 6);
  --culoare-text-hover: black;
  --padding-buton: 0px 0px;
  --padding-submeniu: 0px 0px;
  --inaltime-meniu:30px;
  --latime-buton:150px;
}

#meniumic, #ch-menu {
  display: none;
}

nav {
  height: 0px;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

ul.meniu {
  background-color: var(--culoare-principala);
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}
ul.meniu ul {
  display: none;
  padding: 0;
  animation-name: animatie_submeniu;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transform-origin: 50% 0;
}
ul.meniu div, ul.meniu a {
  color: var(--culoare-text);
  text-decoration: none;
  display: block;
  height: 100%;
  cursor: pointer;
  background-image: none;
}
ul.meniu li {
  position: relative;
  width: var(--latime-buton);
  height: var(--inaltime-meniu);
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  line-height: var(--inaltime-meniu);
}
ul.meniu li div.imag-icon {
  display: none;
}
ul.meniu li::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 1s ease;
  overflow: hidden;
}
ul.meniu li:hover::before {
  transform: scaleY(1);
  background: var(--culoare-submeniu);
  opacity: 0.5;
}
ul.meniu li:hover ul {
  display: block;
  opacity: 0;
  background-color: var(--culoare-principala);
  position: relative;
  list-style-type: none;
  left: -2px;
}
ul.meniu li:hover > div {
  color: black;
}
ul.meniu li:hover li > a {
  color: white;
  text-shadow: 2px 2px 5px rgba(144, 29, 29, 0.919);
}
ul.meniu li:hover li > a:hover {
  background-color: var(--culoare-submeniu);
  overflow: hidden;
}

@keyframes animatie_submeniu {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}